body{
	margin: 0px;		
	padding: 0px;
	display: inline;
}
.container{
  height: 100vh;
}
.slider {
	text-align: center;
	width: 100%;
	position: relative;
}	
.slider__content {
	width: 428px;
	height: 510px;
	display: block;
	margin: auto;
	overflow-x: hidden;
}
.slider__body {
	width: 1284px;
	height: 510px;
	display: flex;
	position: relative;
}
.slider__image {

}
.text-content {
	max-width: 100%;
	text-align: center;
	font-family: sans-serif;
	white-space: normal; 
	margin-top: 20%;
}
.text-conent__title {
	font-weight: bold;
	color: #3bc769;
	font-size: 45px;
	margin: auto;
	width: 400px;
}
.text-content__info {
	text-align: center;
	width: 100%;
}
.page-switcher {
	text-align: center;
	margin: 10px 0px;
	cursor: default;

}
.page-switcher__button {
	border-radius: 30px;
	background-color: gray;
	border-width: 0px;
	padding: 5px;
}
.page-switcher__button_selected {
	border-radius: 30px;
	background-color:  #3bc769;
	border-width: 0px;
	padding: 5px 10px;
}
.bottom-content {
	position: fixed;
	bottom: 0;
	width: 100%;
}
.button-container {
	
}
.next-button {
	background-color: #1bac4b;
	border-width: 0px;
	border-radius: 20px;
	width: 300px;
	padding: 10px 0px;
	color: #fff;
	margin: 20px auto;
	position: relative;
	display: block;
}
.text-content__text {
	text-align: center;
	width: 400px;
	display: inline-block;
	text-align: center;
}
button:visited{
	border-width: 0px;
}
.content2 {
	max-width: 450px;
	margin: auto;
}
@media (max-height: 800px){
	.text-content{
		margin: 0px;
	}
}