body{
	margin: 0px;		
	padding: 0px;
}
.container{
  height: 100vh;
}
.slider {
	text-align: center;
	width: 100%;
	position: relative;
}	
.slider__content {
	width: 428px;
	height: 510px;
	display: block;
	margin: auto;
	overflow-x: hidden;
}
.slider__body {
	width: 1284px;
	height: 510px;
	display: flex;
	position: relative;
	transition: left 0.2s;
}
.slider__image {

}
.text-content {
	max-width: 100%;
	text-align: center;
	font-family: sans-serif;
	white-space: normal; 
	margin-top: 20%;
}
.text-conent__title {
	font-weight: bold;
	color: #3bc769;
	font-size: 45px;
	margin: auto;
	width: 400px;
}
.text-content__info {
	text-align: center;
	width: 100%;
}
.page-switcher {
	text-align: center;
	margin: 10px 0px;
	cursor: default;
	position: relative;
	display: block;
}
.page-switcher__button {
	border-radius: 30px;
	background-color: gray;
	border-width: 0px;
	padding: 5px;
}
.page-switcher__button_selected {
	border-radius: 30px;
	background-color:  #3bc769;
	border-width: 0px;
	padding: 5px 10px;
}
.bottom-content {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: block;
}
.next-button {
	box-shadow: 0px 0px 10px rgba(27, 172, 75, 0.6);
	background-color: #1bac4b;
	border-width: 0px;
	border-radius: 20px;
	width: 300px;
	padding: 10px 0px;
	color: #fff;
	margin: 20px auto;
	position: relative;
	display: block;
	font-size: 16px;
}
.text-content__text {
	text-align: center;
	width: 400px;
	display: inline-block;
	text-align: center;
}
button:visited{
	border-width: 0px;
}
.content2 {
	max-width: 450px;
	margin: auto;
}
.content3{
	max-width: 450px;
	margin: auto;	
}
@media (max-height: 800px){
	.text-content{
		margin: 0px;
	}
}
.header__back-icon-container{
		width: 80%;
		margin: auto;
}
.header__back-icon {
}
.header {
	padding-top: 30px;
	margin: 20px 0px;
}
.fa-arrow-left {
	font-size: 25px;
	color: black;
}
.header__image {
	width: 400px;
	height: 400px;
	margin-left: 12%;
}
.header__title {
	font-weight: bold;
	font-size: 45px;
	text-align: center;
	font-family: sans-serif;
	white-space: normal; 
	margin: 0px;
}
.regestration {}
.regestraation__button {
	text-align: center;
	width: 100%;
	padding: 5px 0px;
	margin: 10px 0px;
	border-radius: 15px;
	border-color: rgba(179, 179, 179, 0.1);
	background-color: white;
	display: block;
	font-size: 20px;
	font-family: sans-serif;
}
.divider {
	text-align: center;
	font-family: sans-serif;
	margin: 8% 0px;
	width: 100%;
	font-size: 17px;
}
.geader__back-icon:active {
	color: black;
}
.regestration__text {
	display: inline-block;
}
.line{
	letter-spacing: -2px;
	display: inline;
	color: rgba(0, 0, 0, 0.1);
	text-align: center;
}